#class1 {
    background-color: #eeaa7b;
    padding: 10px;
}

#class2 {
    background-color: #E7DFDD;
    
}
#class3 {
    background-color: #E7DFDD;
    
}

#class4 {
    background-color: #E7DFDD;
    
}

#class5 {
    background-color: #E7DFDD;
    
}

#class6 {
    background-color: #E7DFDD;
    
}

.dois{
    background-color: #07889B;
    padding: 20px;
}
.um {
    background-color: #e37222;
    padding: 10px;
}

.up {
    background-color: #eeaa7b;
    padding: 10px;
}
.paragrafo
{
    background-color: #6689bf;
}
.img .img1 .img2 .img3 {
  max-width: 5px;
  
}

.fo {
    background-color: #eeaa7b;
    
}