* {
  margin: 0;
  padding: 0;
  }

  body {
  background-color: black;
}
header {
  background-color: rgb(119, 86, 138);
  height: 100px;
  width: 100%;
  position: fixed;
}
.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 50px 50px 50px ;
}
.video {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen (min-device-width: min 289px) and (max-device-width: 500px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
}
}
  

footer {
  background: black;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: end;
  color: white;
  }